<div class="row justify-content-center">
  <div class="col-xs-11 col-sm-11 col-lg-8" style="max-width: 700px;">
    <div class="auth-form">
      <div class="text-center">
        <%= render "developers/shared/tab_nav" %>
        <div class="login-form">
          <h4 class="centered mt-5 mb-4">Create your <strong>job seeker</strong> account</h4>
          <p class="mb-4">
            Are you a <strong>recruiter</strong>?
            <strong>
              <%= link_to "Sign up here", new_recruiter_registration_path %>
            </strong>
          </p>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <%= f.input :email, required: true, autofocus: true, placeholder: 'Email', label: false %>
            <%= f.input :password, placeholder: 'Password', label: false, required: true %>
            <%= f.input :password_confirmation, placeholder: 'Password confirmation', label: false, required: true %>
            <%= f.input :subscribed_to_newsletter, label: 'Receive occasional emails about user-bonuses and updates to our service', input_html: { checked: true }, label_html: { style: 'font-size: 10px; font-weight: lighter' } %>
            <div class="form-actions">
              <%= f.button :submit, "Sign up", class: 'log-in-button' %>
            </div>
          <% end %>

          <% if devise_mapping.omniauthable? %>
            <div class="centered pb-3 pt-2">
              <p style="font-size: 13px" class="divider">
                or
              </p>
              <% resource_class.omniauth_providers.each do |provider| %>
                <%= link_to omniauth_authorize_path(resource_name, provider), id: "omniauth-btn" do %>
                  <% if provider.to_s == 'linkedin' %>
                    <%= image_tag("btn_linkedin_signin.png", alt: "Sign in with LinkedIn", class: "signin-btn" ) %>
                  <% else %>
                    <%= image_tag("btn_google_signin.png", alt: "Sign in with Google", class: "signin-btn" ) %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <p class="submit-privacy">
            By signing up, you agree to our <strong><%= link_to "Privacy Policy", policy_path, target: "_blank" %></strong>
          </p>
        </div>
        <div class="login-form-bottom">
          <div>
            <%= render "developers/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
