<div class="container-fluid user-job-show-container">
  <div class="row">
    <div class="col-sm-12 col-md-6 job-details-container">
      <%= render 'jobs/full_job' %>
    </div>
    <div class="col-sm-12 col-md-6 job-application-container">

      <% if !@is_posted %>
        <div class="job-show-titles mb-4">
          <h4 class="row justify-content-center underlined">Apply to this job</h4>
        </div>
        <% if (@applications_sent.present? && @applications_sent >= 5) %>
          <p class="alert pt-3 pb-3" role="alert" style="color: gray;">
            <i class="fas fa-exclamation-triangle fa-2x fa-pull-left fa-border"></i> Sorry! You can only apply to 5 jobs per day. Next time try using our excellent filters to find which ones are the BEST fit for you.
          </p>
        <% else %>
          <%= simple_form_for([@job, @application]) do |f| %>
            <%= f.input :message,  :input_html => {:rows => 5}, label: "Write a message to the recruiter at #{@recruiter}", required: true %>
            <% if !@developer.resumes.attached? %>
              <%= f.simple_fields_for @developer do |f| %>
                <%= f.input :resumes, as: :file, :input_html => {multiple: true , :data => {"direct-upload-url": "#{root_url}rails/active_storage/direct_uploads" }, accept: "application/pdf" } %>
              <% end  %>
            <% else %>
              <p class="alert pt-3 pb-3" role="alert" style="color: gray;">
                <i class="fas fa-quote-left fa-2x fa-pull-left fa-border"></i> We will attach the resume uploaded on your profile with this request.
              </p>
            <% end  %>
            <%= f.submit "Send application", class: "btn btn-application btn-block" %>
          <% end %>
        <% end %>

      <% else %>

        <div class="job-show-titles">
          <h4 class="row justify-content-center underlined">Application sent</h4>
        </div>
        <div class="applied-message">
          <h5 class="h6 centered">Congratulations!</h5>
          <p>Your application has been sent and will be reviewed by the recruiters at <%= @job.company.name %>.</p>
          <p>You can view the message you sent to the recruiter below.</p>
          <p>You can check your application status on your dashboard under the “Applications” tab. We will send you an email when your app is opened, and if the recruiter wants to chat or decides they don't.</p>
          <p>Thanks for choosing to use a site that reinvests in the tech community! Tell your friends!</p>
        </div>
        <div class="applied-message">
          <h5 class="h6 centered">Message sent:</h5>
          <p style="text-align: justify"><%=  @application.message %></p>
        </div>
      <% end %>

    </div>
  </div>
  <div class="centered my-5">
    <%= link_to "< Back", dashboard_developers_path(@developer), class: "btn-back"  %>
  </div>
</div>
