<table class="table table-striped">
  <h4>Matches for <%= @job_title %> at <%= @job.company_name %></h4>
  <p>
    <% if @job.remote == ["remote", "office"] %>
      Remote and in-office job opportunity
    <% elsif @job.remote == ["remote"] %>
      Remote job opportunity
    <% elsif @job.remote == ["office"] %>
      In-office job opportunity
    <% end %>
    located in <%= @job_location %>
  </p>
  <thead>
    <tr>
      <th>Developer</th>
      <th>Location</th>
      <th>Distance</th>
      <th>Interested in</th>
      <th>Mobility</th>
      <th>Internal Status</th>
      <th>Date Changed</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.full_name %></td>
        <td><%= match.developer_location %></td>
        <td><%= match.developer.distance_from(@job).round(0) %> miles</td>
        <td>
          <% if match.developer.remote == ["remote", "office"] %>
            Remote and in-office jobs
          <% elsif match.developer.remote == ["remote"] %>
            Remote jobs
          <% elsif match.developer.remote == ["office"] %>
            In-office jobs
          <% end %>
        </td>
        <td>
          <% if match.developer.full_mobility? || match.developer.remote == ["remote"] %>
              Full Mobility
          <% else %>
              <%= match.developer.mobility %> miles
          <% end %>
        </td>
        <td><%= render 'admin/shared/status_dropdown', match: match %></td>
        <td><%= match.updated_at.to_date %></td>
        <td><%= link_to "See developer", admin_developer_path(match.developer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
