<div class="row centered matched-job mx-auto">
  <div class="col-xs-11 col-sm-11 col-md-5 mx-auto">

    <h4><%= job.title %></h4>
    <h5 class="text-muted"><%= job.company.name  %></h5>
    <p class="text-muted">
      <%= job.city %>
      <% if job.remote == ["remote"] %>
      - Remote
      <% elsif job.remote == ["office"] %>
      - Office
      <% elsif job.remote == ["remote", "office"]%>
      - Office & Remote
      <% end %>
    </p>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 matched-job-skills">
    <h5 class="row matched-job-skills-title">Skills</h5>
    <div class="row">
      <table class="table">
        <tbody>
          <% job.skills.each do |skill| %>
          <tr>
            <td><i class="devicon-<%= skill.name %>-plain colored"></i></td>
            <td><%= skill.name %></td>
            <td><%= skill.level %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-2">
    <%= link_to "View", job_path(job), class: "btn btn-see-job"  %>
    <%= link_to "Edit", edit_job_path(job), class: "btn btn-edit-job"  %>
    <% if job.active %>
      <%= form_for job do |f| %>
        <%= f.hidden_field :active, value: false %>
        <%= f.submit 'Unpublish', class: "btn btn-publish-job", data: { confirm: "Are you sure you want to deactivate #{job.title}? It will be removed from job searches." } %>
      <% end %>
    <% else %>
      <%= form_for job do |f| %>
        <%= f.hidden_field :active, value: true %>
        <%= f.submit 'Publish', class: "btn btn-publish-job", data: { confirm: "Are you sure you want to publish #{job.title}? It will be visible in job searches." } %>
      <% end %>
    <% end %>

    <%= link_to job_path(job), class: "btn-delete-job", id: 'delete-job', method: :delete, data: { confirm: "Are you sure you want to delete #{job.title}? It will be permanently removed from job searches and from your dashboard." } do %>
      <i class="fas fa-window-close"></i>
    <% end %>
  </div>
</div>
