<div class="container my-5">
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center mb-5">Manage my subscription</h4>
          <% if @company.subscriber.present? %>
            <div class="row">
              <div class="col-6 col-md-3">
                <h6>Current Plan:</h6>
                <p><%= @company.plan_name %></p>
              </div>
              <div class="col-6 col-md-3">
                <h6>Status:</h6>
                <h5><span class="badge badge-pill <%= @company.subscriber.active? ? "badge-success" : "badge-warning" %>"><%= @company.subscriber.status %></span></h5>
              </div>
              <div class="col-6 col-md-3">
                <h6>Subscribed On:</h6>
                <p><%= @company.subscriber.created_at.to_time.strftime('%B %e %Y') %></p>
              </div>
              <% if @company.subscription_expires_at.present? %>
                <div class="col-6 col-md-3">
                  <h6><%= @company.canceled? ? 'Active Until' : 'Next Bill On' %>:</h6>
                  <p><%= @company.subscription_expires_at.to_time.strftime('%B %-d %Y') %></p>
                </div>
              <% end %>
            </div>

            <% if @company.is_member? %>
              <div class="my-4">
                <h6>Do you want to upgrade your plan?</h6>
                <p class="text-muted">Please send us an email with the membership you would like to upgrade to and we will be happy to change your plan within 24 hours.</p>
                <a href="mailto:info@findmyflock.com" class="btn btn-outline-primary">Contact us</a>
              </div>
            <% end %>

            <% if @company.active? %>
              <div class="my-4">
                <h6>Do you want to cancel your subscription with FindMyFlock?</h6>
                <p class="text-muted">You will continue to have access to the Find My Flock platform and resources until your monthly subscription expires.</p>
                <%= link_to 'Cancel my subscription', subscriber_path(@company.subscriber), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning" %>
              </div>
            <% end %>
          <% else %>
            <div class="row centered">
              <div class="col-md-6 col-xs-12">
                <h6>Current Plan:</h6>
                <p>No plan active</p>
              </div>
              <div class="col-md-6 col-xs-12">
                <h6>Status:</h6>
                <h5><span class="badge badge-pill badge-danger">Not subscribed</span></h5>
              </div>
            </div>
            <div class="my-4 centered">
              <h6>Uh oh! Your subscription has ended so your job ads are no longer live.</h6>
              <p class="text-muted">But don’t worry, you can still resubscribe and show all of your jobs to our diverse and talented network!</p>
              <%= link_to 'See subscription plans', new_subscriber_path, class: "btn btn-outline-warning", style: "font-weight: bold" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
